@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #a11c21;
  --secondary: #1e4259;
  --tertiary: #141414;
  --quarternary: #3b3b3b;
  --border-primary: #4b687a;
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Poppins", sans-serif;

  --section-divider-height: 60;
  --section-divider-width: 1920;
  --section-divider-ratio: calc(
    100% * var(--section-divider-height) / var(--section-divider-width)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}
.badge {
  padding: 20px 30px !important;
  font-size: 16px;
}
.navbar-toggler {
  color: var(--primary);
  background-color: #ffffff;
  border: var(--bs-border-width) solid var(--primary);
}
.bg-secondary {
  background-color: #1e4259 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.border-color {
  border-color: rgb(255 255 255 / 18%) !important;
}

.fw-medium {
  font-weight: 500 !important;
}
.fw-bold {
  font-weight: 600 !important;
}
.w-95 {
  width: 90%;
}
@media (max-width: 1020px) {
  .w-90 {
    width: 100%;
  }
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}
a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
  background-color: var(--primary) !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: var(--primary) !important;
}
button {
  outline: 0;
  border: 0;
}
a:hover {
  opacity: 1 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
}
h1 {
  font-size: 60px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  font-weight: 700;
}
h4 {
  font-size: 30px;
  font-weight: 600;
}
h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4em !important;
}
h6 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 430px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
  h3 {
    font-size: 28px;
    font-weight: 700;
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
  }
}
p,
a,
span,
li,
div {
  font-family: var(--ff-secondary);
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.p-100 {
  padding: 100px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-8 {
  margin-top: 8rem !important;
}
.mt-5 {
  margin-top: 5rem !important;
}
a {
  text-decoration: none;
  color: var(--primary);
  opacity: 1;
  transition: all 0.356s;
}
a:hover {
  opacity: 0.65;
  transition: all 0.356s;
}
label {
  font-size: 14px;
}
html,
body {
  overflow-x: hidden;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 10;
}
.z-2 {
  z-index: 20;
}

.z-9 {
  z-index: 999999;
}

.invert {
  filter: invert(100%) !important;
}

.mirror {
  transform: scaleX(-1) !important;
}

.min-h-inherit {
  min-height: inherit;
}

.o-cover {
  object-fit: cover;
}

.w-short {
  width: 75%;
}

@media (max-width: 991px) {
  .w-short {
    width: 100%;
  }
  .navbar-brand img {
    width: 180px !important;
  }
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1200px) {
  .col-xl-5th {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.lined-up-btns {
  position: absolute;
  bottom: 5%;
  transform: translateX(-50%);
}

.rotate-45 {
  rotate: 45deg;
}

/********************/
/*PARALLAX */
/********************/
.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-shadow: inset 0 0 20px #00000068;
  -webkit-box-shadow: inset 0 0 20px #00000068;
  box-shadow: inset 0 0 20px #00000068;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .parallax {
    background-attachment: scroll;
  }
}
/****************************
  *************BG**************
  ****************************/
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-tertiary {
  background-color: var(--tertiary) !important;
}
.bg-quarternary {
  background-color: var(--quarternary) !important;
}

.bg-gradient {
  background: var(--primary);
  background: -moz-linear-gradient(
    266deg,
    var(--primary) 0%,
    var(--secondary) 82%
  );
  background: -webkit-linear-gradient(
    266deg,
    var(--primary) 0%,
    var(--secondary) 82%
  );
  background: linear-gradient(266deg, var(--primary) 0%, var(--secondary) 82%);
}

/****************************
  *************BORDER**************
  ****************************/
.border-primary {
  border-color: var(--primary) !important;
}
.border-secondary {
  border-color: var(--secondary) !important;
}
.border-tertiary {
  border-color: var(--tertiary) !important;
}
.border-quarternary {
  border-color: var(--quarternary) !important;
}

/****************************
  ************FONT*************
  ****************************/
.font-primary {
  font-family: var(--ff-primary) !important;
}

.font-secondary {
  font-family: var(--ff-secondary) !important;
}

/****************************
  ************TEXT*************
  ****************************/
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-tertiary {
  color: var(--tertiary) !important;
}
.text-quarternary {
  color: var(--quarternary) !important;
}

/****************************
  **********DIVIDER************
  ****************************/
.has-divider {
  position: relative;
  padding-bottom: var(--section-divider-ratio);
}
.section-divider {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: auto;
}

/****************************
  *********NAVIGATION**********
  ****************************/
nav li a {
  margin: 0;
  border-radius: 20px;
  padding: 10px 15px !important;
  background-color: transparent;
  color: #333;
  transition: background-color 0.25s, color 0.25s;
}

.nav-link {
  font-family: var(--ff-primary);
  font-size: 16px;
  position: relative;
}

#phone-no a {
  font-size: 1.3em;
}
@media (max-width: 1080px) {
  #phone-no a {
    font-size: 0.75em;
  }
}

@media (max-width: 430px) {
  #phone-no {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

/****************************
  ***********HOME Page************
  ****************************/
.home-hero-section {
  background-image: url(../../images/home-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.form-section {
  background-image: url(../../images/form-section-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.features-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -50px;
}
@media (max-width: 768px) {
  .features-wrapper {
    left: 15px !important;
    width: 100%;
    margin-top: 100px;
    position: inherit;
  }
  .Quote-wrapper {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
.border-right-1 {
  border-right: 1px solid;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  height: 44px !important;
}

.swiper-slide-box {
  background: #f5f5f5;
  padding: 40px;
  text-align: center;
  position: relative;
}
.swiper-slide-box img {
  width: 100%;
  margin-bottom: 30px;
}
.swiper-slide-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 28, 33, 75%);
  opacity: 0;
  transition: all 0.356s;
}
.swiper-slide-box .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide-box:hover .overlay {
  opacity: 1;
  transition: all 0.356s;
}
.swiper-slide-box:hover {
  background: #f5f5f5;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a11c21;
}
span.swiper-pagination-bullet {
  border-radius: 0;
  margin-top: 100px;
}
.swiper-wrapper {
  padding-bottom: 100px !important;
}

.contact-section {
  background-image: url(../../images/contact-banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 300px;
}
@media screen and (max-width: 768px) {
  .contact-section {
    padding-bottom: 0px;
  }
}
.vh-40 {
  height: 400px;
}
.working-process-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -330px;
}
@media (max-width: 768px) {
  .working-process-wrapper {
    left: 15px !important;
    width: 100%;
    margin-top: 100px;
    position: inherit;
  }
  .why-choose-us-section {
    margin-top: 85%;
  }
}
@media (max-width: 575px) {
  .why-choose-us-section {
    margin-top: 200%;
  }
}
@media (max-width: 425px) {
  .why-choose-us-section {
    margin-top: 300%;
  }
}
@media (max-width: 430px) {
  .why-choose-us-section {
    margin-top: 275%;
  }
}
@media (max-width: 320px) {
  .why-choose-us-section {
    margin-top: 230%;
  }
}
.img-button-box {
  position: absolute;
  top: auto;
  bottom: 0;
  background-color: var(--primary);
  width: 256px;
  padding: 20px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-form-section {
  background-image: url(../../images/contact-form-section-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* modal */
button.video-button {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.video-modal {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 80%;
  position: fixed;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  border: 15px solid #fff;
  background: #fff;
}
button.close-button {
  width: 100%;
  text-align: end;
  background: none;
  outline: 0;
  border: 0;
}
.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure overlay is behind modal */
}
.show {
  display: block;
}
.important-things {
  margin-top: 315px;
}
.icon-text-wrapper label {
  margin-bottom: 0;
}
/****************************
  ***********FOOTER************
  ****************************/

footer ul {
  row-gap: 0.5rem;
  column-gap: clamp(1.75rem, 4vw, 2.5rem);
}

footer .col-md-9 ul li {
  list-style: none;
  width: auto;
}

footer .col-md-9 ul li a {
  color: white;
}
.footer-top {
  padding: 50px;
  position: absolute;
  top: -150px;
  width: 100%;
  background: #a11c21;
  left: 0;
}
footer .list-unstyled {
  margin-top: 30px;
}
@media screen and (max-width: 375px) {
  .footer-top {
    top: -70px;
    padding: 20px;
  }
}
